body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 550px;
    height: 729px;
}

h1 {
    color: #FFFFFF;
    text-shadow: 0 5px 10px black;
}

.container-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 285px;
    background-color: #0284C7;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 444px;
    background-color: #F4F4F4;
}

input {
    width: 117px;
    height: 83px;
    font-size: 50px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #0284C7;
    text-align: center;
    color: white;
    padding-left: 15px;
}

button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 42px;
    opacity: 1;
    transition: .3s;
}

button:hover {
    opacity: .8;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 109px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
